/* Start Header Style */
.header {
	padding: 1rem 0;
	margin-bottom: 2rem;
	box-shadow: 0px 0px 1500px rgba(255, 242, 0, 0.7);
	width: 100%;

	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 1.5rem;
		// box-shadow: 0px 0px 200px rgba(0, 255, 247, 0.8);

		.navbar__right {
			.navbar__right-icon-container {
				display: none;
				font-size: 2rem;
				cursor: pointer;

				@media screen and (max-width: 768px) {
					display: flex;
				}
			}

			.navbar__right-icon-container.open {
				color: $link-hover;
			}

			.navbar__right-links {
				display: flex;
				transition: all 0.3s ease-in-out;

				.navbar__right-link-container {
					padding: 0 2rem;

					.navbar__right-link {
						color: $white-color;
						font-size: 1.5rem;

						&:hover {
							color: $link-hover;
						}
					}

					@media screen and (max-width: 768px) {
						padding: 0.9rem 2rem;
					}
				}

				@media screen and (max-width: 768px) {
					display: flex;
					flex-direction: column;
					position: absolute;
					right: -100%;
					top: 4.2rem;
					border-top-left-radius: 15px;
					border-bottom-left-radius: 15px;
					box-shadow: 0px 0px 20px rgba(255, 242, 0, 0.208);
					background: linear-gradient(90deg, $midnight-blue, #484401e8);
				}
			}

			.navbar__right-links.open {
				right: 0rem;
			}
		}

		.navBar__left {
			display: flex;
			justify-content: center;
			align-items: center;

			.navbar__left-logo {
				.navbar__left-logo-link {
					color: $primary-color;
					font-size: 2rem;

					&:hover {
						color: $link-hover;
					}
				}
			}
		}
	}
}
/* Finish Header Style */
